//Header
#header {
  margin-top: -10px;
  
  @media (min-width:992px) {
    margin-top: -40px;
  }
}

// Body
body {
    margin: 0;
    background-color: $background-color;
    height: 100%;
    font-family: "Hubballi-Regular", Helvetica;
    overflow-x: hidden;
    width: 100%;
    color: white;
  }

// Main
main {
  margin: 0 auto;
}

.pages-container {
  padding: 0px 50px;
}