//Fonts
@font-face {
  font-family: "Hubballi-Regular";
  src: url(../../fonts/Hubballi-Regular.ttf);
}

// Body
body {
    margin: 0;
    background-color: $background-color;
    height: 100%;
    font-family: "Hubballi-Regular", Helvetica;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    color: white;
    padding: 10px;
  }

// Main
main {
  max-width: 1000px;
  margin: 0 auto;
}