.guest-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    @media (min-width:992px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.guest-card {
    text-align: center;
    padding: 20px;
}

.card-text {
    font-size: 20px;
}

.card-title {
    font-size: 30px;
}