.brand-logo {

    &-desktop {
      display: none;
      @media (min-width: 992px) {
        margin-left: auto;
        display: block;
      }
    }
  
    &-mobile {
      display: none;
      @media (max-width: 992px) {
        display: block;
        margin: 20px;
      }
    }
  }