.navbar {
  text-align: center;
  font-size: 28px;
  display: grid;
  justify-content: center;
}

.nav-desktop {
  display: none;
  justify-content: space-evenly;
  gap: 380px;
  margin: 0px auto;

  @media (min-width: 1200px){
    display: flex;
    flex-direction: row;
    margin-top: -280px;
   }

  & > * {
    display: flex;
    flex-direction: row;
  }
  
}

.brand-logo {

    &-desktop {
      display: none;
      @media (min-width: 992px) {
        display: flex;
      }
    }
  
    &-mobile {
      display: none;
      @media (max-width: 991px) {
        display: flex;
      }
    }

    &-image {
      margin-left: auto;
      margin-right: auto;
      max-width: 200px;
      z-index: 2;
      
      @media (min-width: 500px) {
        max-width: 300px;

      }
      @media (min-width: 992px) {
        max-width: 450px;
      }
    }
  }

.nav-link {
  font-family: "Hubballi-Regular", Helvetica;
  margin: 0px 20px;
  color: #fff;
  text-decoration: none;
  width: 150px;
  height: 50px;

}

.active {
  color: #fff !important;
}

.mr-auto {
  display: flex;
  flex-direction: row;
  
  & > * {
    margin: -150px 300px;
  }
}

.fa-bars {
  color: #fff;
  background-color: $background-color;
  font-size: 40px;
}


.mobile-nav-container {
  display: none !important;

  @media (max-width: 1200px) {
    display: flex !important;
  }

  &.container {
    align-self: center;
  }

}

button.navbar-toggler {
  position: relative;
  top: 0;
  margin-top: 30px;
  position: fixed;
  right: 0;
  margin-right: 20px;

  @media(min-width:500px) {
    margin-top: 70px;
  }

  @media(min-width:992px) {
    margin-top: 120px;
  }
}

.navbar-collapse {
  display: flex;
  justify-content: center;

  &.collapse.show {
    margin-bottom: 140px;
  }
}



