.navbar {
  text-align: center;
  font-size: 28px;
  display: grid;
  justify-content: center;
}

.nav-desktop {
  display: none;
  justify-content: space-evenly;
  gap: 350px;
  margin: 0px auto;

  @media (min-width: 1150px){
    display: flex;
    flex-direction: row;
    margin-top: -280px;
    margin-left: -150px;
   }

  & > * {
    display: flex;
    flex-direction: row;
  }
  
}

.brand-logo {

    &-desktop {
      display: none;
      @media (min-width: 992px) {
        display: flex;
      }
    }
  
    &-mobile {
      display: none;
      @media (max-width: 991px) {
        display: flex;
      }
    }

    &-image {
      margin-left: auto;
      margin-right: auto;
      max-width: 200px;
      z-index: 2;
      
      @media (min-width: 500px) {
        max-width: 300px;

      }
      @media (min-width: 992px) {
        max-width: 450px;
      }
    }
  }

.nav-link {
  font-family: "Hubballi-Regular", Helvetica;
  margin: 0px 20px;
  color: #fff;
  text-decoration: none;

}

.active {
  color: #fff !important;
}

.mr-auto {
  display: flex;
  flex-direction: row;
  
  & > * {
    margin: -150px 300px;
  }
}

.fa-bars {
  color: #fff;
  background-color: $background-color;
  font-size: 40px;
}

